include *.txt tox.ini *.rst *.md LICENSE
include catalog-info.yaml
recursive-include tests *.py *.wav
recursive-include basic_pitch *.py
recursive-include basic_pitch/saved_models/*
recursive-include basic_pitch *.index *.pb variables.data*
