body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../_assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
}

input[type="file"] {
    display: none;
}

#drop-area {
    
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    margin-top: 70px;
    background-color: rgb(132, 129, 129);
    width: 20%;
    max-width: 800px;
    z-index: 1;
}

#audio-input {
    margin-left: 40px;
    width: 100%;
    margin-top: 10px;
}

#waveform {
    height: 160px;
    margin: 20px 0;
    border: 2px solid rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    background-color: rgb(132, 129, 129); 
    background-image: url("../_assets/back.jpeg");
    z-index: 1; 
}

#midi-output {
    height: 400px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgb(132, 129, 129); 
    background-image: url("../_assets/back.jpeg");
    position: relative;
    z-index: 1;
}



button {
    flex: 1; 
    padding: 10px; 
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00ccff;
}

#browse-button {
    flex: 2;
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #00ccff;
    color: #fff;
    transition: background-color 0.3s;
}

#browse-button:hover {
    background-color: #0088cc;
}
#volume-control-container {
    width: 50px;
    margin-top: 20px;
    z-index: 1;
    transform: rotate(270deg);
    transform-origin: 0% 0%;
    margin-left: -35px;
}